body{
	padding:0px;
	margin:0px;
	background-color:#373737;
	background-image:url(../images/ajax-loader.gif);
	background-position:50% 50%;
	background-repeat:no-repeat;
}
html, body { height: 100%;overflow:hidden; position:relative;}
@font-face {
		font-family: 'HelveticaNeue45Light';
		src: url('helveticaneue-light-webfont.eot');
		src: url('helveticaneue-light-webfont.eot?#iefix') format('embedded-opentype'),
				 url('helveticaneue-light-webfont.ttf') format('truetype'),
				 url('helveticaneue-light-webfont.svg#HelveticaNeue45Light') format('svg');
		font-weight: normal;
		font-style: normal;		
		/*url('helveticaneue-light-webfont.woff') format('woff'),*/

}
@font-face {
		font-family: 'Helvetica25UltraLightRegular';
		src: url('helveticaultralt-webfont.eot');
		src: url('helveticaultralt-webfont.eot?#iefix') format('embedded-opentype'),
				 url('helveticaultralt-webfont.woff') format('woff'),
				 url('helveticaultralt-webfont.ttf') format('truetype'),
				 url('helveticaultralt-webfont.svg#Helvetica25UltraLightRegular') format('svg');
		font-weight: normal;
		font-style: normal;

}

img{
	display:block;
	border:0px;
	text-decoration:none;
}
.bgtop{
	min-height: 50%;
		min-width: 1100px;
	position: relative;
		top: 0;
		left: 0;
	overflow:hidden;
	width:100%;
	display:none;
} 
.bgtop img{
	min-height: 100%;
	min-width: 1100px;
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;		
}
.bgbot{
	min-height: 50%;
		min-width: 1100px;
	position: relative;
		bottom: 0;
		left: 0;
	overflow:hidden;
	width:100%;
	display:none;
} 
.bgbot img{
				min-height: 100%;
				min-width: 1100px;
				width: 100%;
				height: auto;
				position: absolute;
				top: 0;
				left: 0;		
}
.black{
	ckground-color:#373737;
}
.idioma{
	width:280px;
	height:150px;
	position:absolute;
	bottom:200px;
	left:150px;
	display:none;
}
.degrada{
	width:280px;
	height:125px;
	background:url(http://sitios.collinscom.com/zarkin/images/gradient.png) repeat-y;
	padding-top:1px;
}
.logo{
	width:330px;
	height:130px;
	background-image:url(http://sitios.collinscom.com/zarkin/images/logo.png);
	margin:auto;
	margin-top:30px;
}
.links{
	width:170px;
	margin:auto;
	margin-top:10px;
	color:#FFF;
	font-family:"HelveticaNeue45Light";
	font-size:14px;
	font-weight:bold;
}
.links a{
	display:block;
	width:50px;
	height:15px;
	text-decoration:none;
	color:#FFF;
	float:left;
}
.links a:hover{
	color:#fffded;
}
.links span{
	float:left;
	margin-left:4px;
	margin-right:4px;
}
.barratop{
	width: 100%;
	height: 85px;
	background: url(http://sitios.collinscom.com/zarkin/images/bg-barra.png) repeat-x;
	position: absolute;
	z-index: 80;
	top: 0px;
}
.estilo{
	background:url(http://sitios.collinscom.com/zarkin/images/estilo.png);
	background-repeat:no-repeat;
	width:550px;
	height:85px;
	/*margin:auto;*/
	margin: 3px 0 0 -35px;
	background-position:0 -10px;
}
.logo-dos{
	width:250px;
	height:99px;
	background-image:url(http://sitios.collinscom.com/zarkin/images/logoZarkin.png);
	background-repeat:no-repeat;
	position:absolute;
	right:0px;
	top:0px;
	z-index:99;
}
.logo-dos a{
	width:190px;
	height:85px;
	display:block;
}
.degradabot{
	width:100%;
	height:120px;
	position:absolute;
	bottom:0px;
	background:url(http://sitios.collinscom.com/zarkin/images/degradabot.png) repeat-x;
	z-index:87;
}
.menu{
	width:900px;
	position:absolute;
	height:20px;
	bottom:20px;
	left:20px;
	font-family:"HelveticaNeue45Light";
	font-size:12px;
	color:#FFF;
	z-index:90;
}
.submenu{
	width:850px;
	position:absolute;
	top:-45px;
	left:0px;
	display:none;
	height:25px;
	margin-left:-10px;
	padding-top:20px;
}
.boton{
	float:left;
	width:50px;
	margin-left:10px;
	margin-right:10px;
	text-align:center;
	height:25px;
	position:relative;
}
.boton-largo{
	float:left;
	width:130px;
	margin-left:10px;
	margin-right:10px;
	text-align:center;
	height:25px;
	position:relative;
}
.boton a{
	display:block;
	width:50px;
	height:25px;
}
.boton-l{
	float:left;
	width:auto;
	margin-left:10px;
	margin-right:10px;
	text-align:center;
	height:25px;
}
.boton-l a{
	display:block;
	width:100%;
	height:25px;
}
.menu a{
	color:#FFF;
	text-decoration:none;
}
.menu a:hover{
	color:#9B60A7;
	text-decoration:none;
	font-size:12px;
	font-weight:bold;
	color:#FFFDED;
}
.menu span{
	float:left;
}
.cole-thumbs{
	width:576px;
	height:auto;
	display:none;
}
.cole-thumbs2{
	width:576px;
	height:auto;
	margin-left:30px;
}

.thumb{
	width:130px;
	float:left;
	margin-right:10px;
	margin-bottom:10px;
	border:2px solid #FFF;
	background-color:#373737;
	height:130px;
	position:relative;
	overflow:hidden;
	
}
.thumb img{

	 z-index:91;
}
#pieles-nombre{
 width:105%; 
}
.pieles-nombre p{
float:left; width:130px; margin-right:14px; text-align:center; margin-top:-5px;
}
.thumb img:hover{

	 z-index:91;
	 border:2px solid #FFF;
}
.titulos{
	width:98.5%;
	height:auto;
	padding:5px 0 0 20px;
	position:absolute;
	right:0px;
	top:0px;
	z-index:90;
	color:#FFFDED;
	/*font-family: 'HelveticaNeue45Light';*/
	font-family:"Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size:22px;
	margin-top:34px;
	font-weight:lighter;
	letter-spacing:1px;
}
.titulos span{
	font-size:22px;
	width:180px;
	margin-bottom:0px;
	text-transform:uppercase;
	text-align:center;
	font-family: "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnBold', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif; font-weight:bold; font-stretch:condensed;
	/*font-weight:500;*/
	/*float:left;*/
}
.titulos a{
	display:block;
	color:#FFF;
	font-size:10px;
	width:75px;
	text-align:right;
	text-decoration:none;
	margin:-1px 0 0 -34px;
	padding:4px 8px 4px 0;
	color:#FFFDED;
}
.titulos a:hover{
	text-decoration:none;
}
.clear{
	clear:both;
}
.clear10px{
	clear:both;
	height:10px;
}
.flechader{
	width:30px;
	height:69px;
	background-image:url(http://sitios.collinscom.com/zarkin/images/arrows.png);
	background-repeat:no-repeat;
	background-position:-37px 0px;
	position:absolute;
	z-index:90;
	right:15px;
	top:49%;
}
.flechader a{
	width:30px;
	height:69px;
	display:block;
}
.flechaizq{
	width:30px;
	height:69px;
	background-image:url(http://sitios.collinscom.com/zarkin/images/arrows.png);
	background-repeat:no-repeat;
	background-position:-2px 0px;
	position:absolute;
	z-index:90;
	left:15px;
	top:49%;
}
.flechaizq a{
	width:30px;
	height:69px;
	display:block;
}
.barra{
	width:100%;
	height:60px;
	background:url(http://sitios.collinscom.com/zarkin/images/bg-black.png) repeat;
	position:absolute;
	top:85px;
	display:none;
}
.bienvenido{
	width:100%;
	height:auto;
	background:url(http://sitios.collinscom.com/zarkin/images/bg-black2.png) repeat;
	position:absolute;
	top:50%;
	z-index:90;
	margin:auto;
	left:0;
	/*margin-left:-215px;*/
	margin:auto;
	color:#FFF;
	font-family: 'HelveticaNeue45Light';
	padding:0 0 20px;
	font-size:16px;
	line-height:20px;
	display:none;
	/*text-align:justify;*/
	letter-spacing:1px;
	word-spacing:-2px;
	margin-top:-207px;
}

.bienvenido .text-izq{
	text-align:left;
}
.bienvenido .text-izq p{
	width:95%;
}
.bienvenido p.text-just{
	width:100%;
	/*text-align:justify;*/
}
.bienvenido h4{
	font-size: 24px;
	text-align:center;
}
.bienvenido strong{
	font-size: 16px;
}
.bienvenido-grupo{
	width:100%;
	height:auto;
	background:url(http://sitios.collinscom.com/zarkin/images/bg-black2.png) repeat;
	position:absolute;
	top:20%;
	z-index:99;
	left:13%;
	color:#FFF;
	font-family: 'HelveticaNeue45Light';
	padding:15px;
	font-size:14px;
	letter-spacing:1px;
	line-height:20px;
	display:none;
}
.bienvenido span{
	width:100%;
	text-align:center;
	font-size:20px;
	line-height:22px;
	font-weight:normal;
	text-transform:uppercase;
	letter-spacing:2px;
	/*font-family:Helvetica;*/
	font-family: 'HelveticaNeue45Light';
	color:#F1F1F1;
}
.bienvenido-grupo span{
	width:100%;
	text-align:center;
	font-size:24px;
	font-weight:normal;
	text-transform:uppercase;
	letter-spacing:2px;
	font-family:"Helvetica25UltraLightRegular";
	color:#F1F1F1;
}
.cole-piel{
	width:55%; margin:0 auto; margin-top:20px; color:#FFFFFF; font-family: 'HelveticaNeue45Light';
}
#scrollbar1 { width: 600px; clear: both; margin:0 auto; }
#scrollbar1 .viewport { width: 580px; height: 415px; overflow: hidden; position: relative; }
.bienvenido .viewport { width: 580px; height:415px; overflow: hidden; position:relative; margin:0 auto; }
.bienvenido .viewport-pieles { width: 630px; height:415px; overflow: hidden; position:relative; margin:0 auto; }
.viewport li{ margin-top:15px;}
#scrollbar1 .overview { list-style: none; position: absolute; left: 0; top: 0; }
#scrollbar1 .thumb .end,
#scrollbar1 .thumb { background-color: #373737;  }
#scrollbar1 .scrollbar { position: relative; float: right; width: 15px; }
#scrollbar1 .track { height: 100%; width:13px; position: relative; padding: 0 1px; margin-left:10px;  -webkit-border-radius: 30px; border-radius: 30px; background-image:url(http://sitios.collinscom.com/zarkin/images/transparent-bar.png); background-repeat:repeat; }
#scrollbar1 .thumb { height: 20px; width: 13px; cursor: pointer; overflow: hidden; position: relative; top: 0; border:0; -webkit-border-radius: 30px; border-radius: 30px;background-color:#373737;}
#scrollbar1 .thumb .end { overflow: hidden; height: 0px; width: 13px; }
#scrollbar1 .disable{ display: none; }

div.boton a.largo{ width:130px;} 

#sociales{ z-index:100; position:absolute; bottom:23px; left:610px; width:100px;}
#sociales img{ float:left; width:16px; height:16px; margin-left:5px;}
.enlace { z-index:100; position:absolute; left:610px; width:100px;}

span.tit{ font-size:26px; font-weight:normal; margin:5px 0 0 10px; width:100%; text-align:center;}

input[type=text]{ width:300px; margin-bottom:10px;}
textarea{ width:300px; margin-bottom:10px;}

#menu-estilos{height: 30px; background-image:url(http://sitios.collinscom.com/zarkin/images/bg-black2.png); background-repeat:repeat; font-family: "HelveticaNeue45Light"; font-size: 12px;}
#menu-estilos div{width: 510px; margin:0 auto; padding: 5px 0;}
#menu-estilos ul {height: 20px; margin: 0px; padding: 0px;}
#menu-estilos ul li{list-style-type:none; float:left; text-align:center; }
#menu-estilos ul li a{text-decoration: none; display:block; padding:0px 5px 0px 0px; color:#ffffff;}
#menu-estilos li a:hover{text-decoration: none;font-size: 12px;font-weight: bold;color: #FFFDED;}

#pleca-tmb{height: 108px; background-image:url(http://sitios.collinscom.com/zarkin/images/bg-black2.png); background-repeat:repeat;}
#pleca-tmb div {width: 500px; margin:0 auto; padding: 0;}
#pleca-tmb div div {display: inline; position: relative; top: -117px; z-index: -1; float: left; overflow: hidden;}
#pleca-tmb div img{display: inline; margin:0; }
img#flecha-izq{position: relative; right: 50px;}
img#tmb-estilos{position: relative; left: -600px; height: 120px;}
img#flecha-der{position: relative; left: 500px;}

#pleca-tmb-interiorismo{height: 257px; background-image:url(http://sitios.collinscom.com/zarkin/images/bg-black2.png); background-repeat:repeat;}
#pleca-tmb-interiorismo div {width: 613px; margin:0 auto; padding: 0;}
#pleca-tmb-interiorismo div div {display: inline; position: relative; top: 15px; z-index: 0; float: left; overflow: hidden;}
#pleca-tmb-interiorismo div img{display: inline; margin:30px 0px 0px 0px; width: 540px;}

#menu-interiorismo{}
#menu-interiorismo a{text-decoration: none; display:inline-block; padding:0px 5px 0px 0px; color:#ffffff; font-size: 12px; width: 298px;}
#menu-interiorismo a:hover{text-decoration: none;font-size: 12px;font-weight: bold;color: #FFFDED;}